<div class="property-card">
  <div class="property-card-header">
    {{property-card}}
  </div>
  {{!-- Image --}}
  <img class="">{{img}}</img>
  <div class="card-body">
      {{!-- Location --}}
    <p>
      Location:
      {{location}}
    </p>
    <p>
    {{!-- Property Size --}}
      Square footage:
      {{square-footage}}
    </p>
    <p>

    {{!-- Price --}}
      Price:
      {{price}}
    </p>
  </div>
</div>