{{!-- search results layout --}}
<button type="submit"><a href="/search"></a>Back to Search</button>

{{#each properties as |property| }}
<div class="property-card">
  <div class="property-card-header">
  </div>
  {{!-- Property Information --}} 
  <img class="images">{{property.photos}}</img>
  <div class="card-body">
    <p>
      Location:
      {{property.location}}
    </p>
    <p>List Price:
      {{property.list_price}}
    </p>
    <p>Bedrooms:
      {{property.beds}}
    </p>
    <p>Bathrooms:
      {{property.baths}}
    </p>
    <p>Garage:
    {{property.garage}}
    </p>
    <p>Stories:
      {{property.stories}}
    </p>
    <p>Type of property:
    </p>
    {{property.home_type}}
    Square footage:
    {{property.sqft}}
    </p>
  </div>
</div>

<button type="submit" id="saved-homes">Save Home</button>
{{/each}}