{{!-- <h1>Single property</h1>
<div class="col s4 deleteProperty ">
      <div class="card">
        <div class="card-image">
          <img class="img-size" src={{propertyData.image}}>
        </div>
        <div class="card-content saved-cards ">
          <p><b>Location:</b> {{propertyData.address}}</p>
          <p><b>List Price:</b> {{propertyData.list_price}}</p>
          <p><b>Bedrooms:</b> {{propertyData.beds}}</p>
          <p><b>Garage:</b> {{propertyData.garage}}</p>
          <p><b>Stories:</b> {{propertyData.stories}}</p>
          <p><b>Type:</b> {{propertyData.home_type}}</p>
          <p><b>Square footage:</b> {{propertyData.sqft}}</p>
          <button type="submit" id="deleteButton" class="deleteButton" onclick="deletePropertyHandler()">delete</button>
        </div>
      </div>
    </div> --}}